# API Webflow
WEBFLOW_API_TOKEN=ton_token_api_ici

# Site ID (trouve-le dans l'URL de ton site Webflow)
WEBFLOW_SITE_ID=ton_site_id

# Collection IDs (déjà remplis pour toi)
COLLECTION_QUESTIONS=690997a2978593abdcf5c317
COLLECTION_REPONSES=69099a71e1a9bb14b6b00b6d
COLLECTION_EXERCICES=691bc191cb1e542c7478bd13