# API Webflow
WEBFLOW_API_TOKEN=ton_token_api_ici

# Site ID 
WEBFLOW_SITE_ID=ton_site_id

# Collection IDs 
COLLECTION_QUESTIONS=xxxxxxxxxxxxx
COLLECTION_REPONSES=xxxxxxxxxxxxxxxxxxxx
COLLECTION_EXERCICES=xxxxxxxxxxxxxxxxxxx